<!-- <div class="container">
    <div>
      <div>
        <h2>Forms in Angular!</h2>
      </div>
      <div>
        <ul>
          <li><a routerLink="/reactive-form">Reactive Forms</a></li>
          <li><a routerLink="/template-form">Template Driven Forms</a></li>
        </ul>
      </div>
    </div>
    
  </div> -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>