<style>
  .content{
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  #heading{
    display:flex;
    margin:15 45px;
    padding: 20 px;
    align-items: center;
    max-width: 500px;
  }

  
</style>


<div class="row">
  <div class="card col-sm-6 offset-sm-3" id="heading" >
    <h3>{{name}}</h3>
  </div>
</div>

<div class="content" role="main">
  <div class="card highlight-card card-small">
     <span>{{title}} app is running!</span>
  </div>
</div>

<router-outlet></router-outlet>