

<h3>Template Driven Form</h3>
<div class="row">
    <div class="col-md-6">
        <form >
            <label>Full Name : </label>
            <input type="text" name="fullName" [(ngModel)]="fullName" > 
            <br/> 
            <label>Email : </label>
            <input type="email" name="email" [(ngModel)]="email" > 
            <br/>
            <label>Phone Number : </label>
            <input type="number" name="phoneNum" [(ngModel)]="phoneNum" > 
            <br/>
            <label>Password : </label>
            <input type="password" name="password" [(ngModel)]="password" > 
            <br/>
            <label>Confirm Password : </label>
            <input type="password" name="confPassword" [(ngModel)]="confPassword" >
            <br/>
            <button (click)="onSubmit()">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <div *ngIf="visible" class="user">
            <p>Full name is : {{fullName}}</p>
            <p>Email id is : {{email}}</p>
            <p>Phone number is : {{phoneNum}}</p>
            <p>The password is : {{password}}</p>
            <p>Confirmed Password is : {{confPassword}}</p>
        </div>
    </div>
</div>